//共通
html {
  font-family: "Source Sans Pro", 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, sans-serif;
  font-size: 16px;
}
h1, h2, h3 {
  font-weight: normal;
}
.title {
  color: #35495e;
  margin: 100px 0 30px;
  text-align: center;
}
.subtitle {
  color: #35495e;
  text-align: center;
}
.page_subtitle_not_pc {
  font-size:20px;
}
.page_title_not_pc {
  font-size:22px;
}
.image-space {
  margin: 10px 10px 0 10px;
}
.top_image {
  flex-direction: column; /* 子要素をflexboxにより縦方向に揃える */
  justify-content: center; /* 子要素をflexboxにより中央に配置する */
  align-items: center;
  display:flex;
}

.container {
  .main_img {
    display: flex;
    flex-direction: row;  
    flex-wrap: wrap; 
  }
}

//index
.container {
  width: 80%;
  margin: 0 auto;
}
.index_list {
  padding: 0.5em 1em;
  margin: 2em 0;
  background: #f0f7ff;
  border: dashed 2px #5b8bd0;/*点線*/
}
.main_table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.main_table tr{
  border-bottom: solid 1px #eee;
  cursor: pointer;
}

.main_table tr:hover{
  background-color: #d4f0fd;
}

.main_table th,.main_table td{
  text-align: center;
  width: 25%;
  padding: 15px 0;
}

.main_table td.icon{
  background-size: 35px;
  background-position: left 5px center;
  background-repeat: no-repeat;
  padding-left: 30px;
}

.main_table td.icon.yyc{
  background-image: url(../../static/omiai/yycbnr2.png)
}

.main_table td.icon.happymail{
  background-image: url(https://img.happymail.co.jp/img/pc_s_ms/100_100a.gif)
}

.banner-area {
  display:inline-block;
}
.banner1 {
  display:inline-block;
}
.banner2 {
  display:inline-block;
  margin-left:10px;
}
.banner-area p {
  text-align:center;
}

//Omiai用

//with用
.container_with {
  width: 90%;
  margin: auto;
  .main_img img {
    max-width: 100%;
  }
  .app_movie_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .app_movie1,.app_movie2 {
      max-width:45%;
      margin:auto;
      img {
        width:80%;
      }
    }
  }
  .subsubtitle {
    font-size: 24px;
    color:#35495e;
    text-align: center;
  }
  .app_info1,.app_info2,.app_info3,.app_info4,.app_info5 {
    text-align:left;
    font-size: 20px;
  }
  .add_info4 {
    margin-top:50px;
    .review_type_text {
      display:block;
    }
    .user_review_summary_content {
      padding: 10px 30px;
    }
    .good_review .review_type_text {
      color:#5555c6;
    }
    .bad_review .review_type_text {
      color:#ff2020;
    }
    .good_review_style,.bad_review_style {
      position: relative;
      padding: 20px;
      margin: 2em 0;
      color: #000;
      line-height:2.0;
      display:inline-block;
    }
    .good_review_style {
      background: #e6f4ff;
    }
    .bad_review_style {
      background: #ffefef;
    }
    .good_review_style:after,.bad_review_style:after {
      position: absolute;
      content: '';
      top: 100%;
      border: 15px solid transparent;
      width: 0;
      height: 0;
    }
    .good_review_style:after {
      left: 30px;
      border-top: 15px solid #e6f4ff;
    }
    .bad_review_style:after {
      right: 30px;
      border-top: 15px solid #ffefef;
    }
    .review_title {
      font-weight:bold;
    }
    .star {
      color:#ffd22c;
    }
  }
  .add_info5 {
    padding:20px;
  }
  .app_info1 {
    margin-top:50px;
  }
  .about_with_not_pc {
    text-align:center;
  }
  .start_with_not_pc {
    // width:100% !important;
    width:100%;
    text-align:center;
  }
  .start_with_btn_not_pc {
    max-width: 100%;
    // width : auto !important;
    width : auto;
  }
  .with_logo_not_pc,.secure_not_pc,.payment_not_pc {
    // padding-right:0px !important;
    padding-right:0px;
  }
  .secure_not_pc {
    margin: 5px;
  }
  .payment_not_pc {
    // height:auto !important;
    height:auto;
    max-width: 100%;
  }
  .plan2_not_pc {
    // justify-content: center !important;
    justify-content: center;
    flex-wrap: wrap;
    // width:auto !important;
    width:auto;
    max-width: 100%;
  }
  .info3 {
    amp-img {
      margin:10px;
    }
  }
  .info3 {
    img {
      padding-right: 50px;
      max-width:100%;
    }
  }
  .info1,.info2 {
    img {
      height: 203px;
      padding-right: 50px;
      max-width:100%;
    }
  }
  .info1,.info2,.info3 {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    flex-wrap: wrap;
    // .scale_image {
    //   transition-duration: 0.5s;
    // }
    // .scale_image:hover {
    //   transform: scale(2.0,2.0); /*画像の拡大*/
    // }
    blockquote {
      padding: 0.5em 1em;
      border: double 5px #F4636C;
      font-size:17px;
      min-width:20%;
      margin:20px auto;
    }
  }
  .info1 {
    amp-img {
      min-width:30%;
      margin:20px auto;  
    }
  }
  .info2 {
    amp-img {
      margin:20px auto;  
    }
  }
  .app_info2 {
    margin-bottom:50px;
  }
  .add_info1,.add_info2 {
    margin-bottom: 50px;
    ul, ol {
      background: #fff1f2;
      box-shadow: 0px 0px 0px 10px #fff1f2;/*線の外側*/
      border: dashed 2px #F4636C;/*破線*/
      border-radius: 9px;
      margin-left: 10px;/*はみ出ないように調整*/
      margin-right: 10px;/*はみ出ないように調整*/
      padding: 0.5em 0.5em 0.5em 2em;
    }
    ul li, ol li {
      line-height: 1.5;
      padding: 0.5em 0;
    }
    span {
      font-weight: bold;
      p {
        font-weight:normal;
      }
    }
  }
  .add_info3 {
    .plan {
      font-size:17px;
      font-weight:bold;
    }
    .plan1_info,.plan2_info,.plan3_info {
      padding: 20px;
    }
    .plan2_info1,.plan3_info1 {
      margin: 20px 0px;
    }
    .plan2_summary {
      font-weight:bold;
    }
    .plan3_info1 {
      font-weight:normal;
    }
    .plan2_wrapper {
      display:inline-block;
      .plan2_info2,.plan2_info3 {
        display: flex;
        justify-content: left;
      }
    }
    .plan1_info,.plan3_info2,.plan3_info3,.plan3_info4,.plan3_info5 {
      font-weight:bold;
      margin: 2em 0em;
      padding: 1em;
      max-width: 100%;
      background-color: #fff; /* 背景色 */
      border: 1px solid #ccc; /* 枠線 */
      p {
        font-weight:normal;
      }
    }
    .plan2_info2,.plan2_info3,.plan2_info4,.plan2_info5,.plan2_info6,.plan2_info7 {
      font-weight:bold;
      margin: 2em 0em;
      padding: 1em;
      width: 100%;
      background-color: #fff; /* 背景色 */
      border: 1px solid #ccc; /* 枠線 */
      p {
        font-weight:normal;
      }
      table{
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
      }
      table th,table td{
        padding: 10px 0;
        text-align: center;
        font-weight:normal;
      }
      table tr:nth-child(odd){
        background-color: #eee
      }
    }
  }
  .red {
    color: red;
    // font-weight: bold !important;
    font-weight: bold;
  }
  .pink {
    color: #F4636C;
    // font-weight: bold !important;
    font-weight: bold;
  }
  .start_with_text {
    font-size:20px;
    font-weight:bold;
    color: #F4636C;
    text-align:center;
  }
  .start_with {
    height:70px;
  }
  .start_with_not_pc {
    height:50px;
  }
  .start_with,.start_with_not_pc {
    width:500px;
    max-width:86%;
    position: relative;
    text-align:center;
    padding: 0.5em 1em;
    margin: 2em auto;
    color: #F4636C;
    background: #fff1f2;
    border-top: #F4636C;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
    a {
      display: block;
      position: absolute;
      top: 10px;
      left: 0;
      width: 100%;
      height: 100%;
      amp-img {
        padding-top: 13px;
        max-width:80%;
      }
    }
  }
}